body,
button,
input,
select,
textarea {
}

p {
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
}

address {
}

pre {
}

code, kbd, tt, var {

}

abbr, acronym {

}

mark, ins {

}

big {

}